@page "/users/edit"

@using ManagementTool.Shared.Models.AppState
@using ManagementTool.Shared.Models.Database
@using ManagementTool.Shared.Models.Utils
@using ManagementTool.Shared.Utils
@using Microsoft.AspNetCore.Components
@using ManagementTool.Client.Utils
@using ManagementTool.Shared.Models.ApiModels
@using ManagementTool.Shared.Models.Login
@using System.Net
@implements IDisposable

@inject NavigationManager UriHelper
@inject HttpClient Http
@inject ILogger<UserEdit> Logger
@inject StateContainer<UserBase> UserContainer
@inject StateContainer<LoggedUserPayload> LoggedUserContainer
@inject IJSRuntime JsRuntime


<button @onclick="ReturnToUsers">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg>
</button>

@if(!IsAuthorized) {
    <div>Vypadá to, že nemáte dostatečné práva na zobrazení tohoto listu!</div>
}
else if (WaitingForApiResponse) {
    <div class="spinner"></div>
}
else {
    @if (NewUserCreation) {
        <h3>Vytváření nového uživatele</h3>
    }
    else {
        <h3>Editace uživatele</h3>
    }

    <div>
        <section>
            <EditForm id="@SubmitBtnId" EditContext="@EditContext" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
                <DataAnnotationsValidator/>
                <table>
                    <tr>
                        <td>Uživatelské jméno (orion)</td>
                        <td>
                        @if (NewUserCreation) {
                            <InputText id="txtName" type="text" required
                                       @bind-Value="SelectedUser.Username"/>
                            <ValidationMessage For="@(() => SelectedUser.Username)"/>
                        }
                        else {
                                <b>@SelectedUser.Username</b>
                        }
                        </td>
                    </tr>
                    <tr>
                        <td>Celé jméno uživatele</td>
                        <td>
                            <InputText id="txtFullName" type="text" required
                                       @bind-Value="SelectedUser.FullName"/>
                            <ValidationMessage For="@(() => SelectedUser.FullName)"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Pracoviště</td>
                        <td>
                            <InputText id="txtWorkplace" type="text" required
                                       @bind-Value="SelectedUser.PrimaryWorkplace"/>
                            <ValidationMessage For="@(() => SelectedUser.PrimaryWorkplace)"/>
                        </td>
                    </tr>
                    <tr>
                        <td>E-mailová adresa</td>
                        <td>
                            <InputText id="txtWorkplace" type="text" required
                                       @bind-Value="@SelectedUser.EmailAddress"/>
                            <ValidationMessage For="@(() => @SelectedUser.EmailAddress)"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Aktuálně přiřazený vedoucí</td>
                        <td>
                            @if (AllSuperiors.Length == 0) {
                                <div>Neexistují žádní uživatelé s rolí nadřazeného</div>
                            }
                            else {
                                <select multiple @onchange="@OnSelectedSuperiorsChange">
                                    @foreach (var superior in AllSuperiors) {
                                        <option value="@superior.Id" selected=@_selectedSuperiorsIds.Contains(superior.Id.ToString())>
                                            @superior.FullName</option>
                                    }
                                </select>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Přiřazené role</td>
                        <td>
                            @foreach (var role in RolesAssignments) {
                                <input class="form-check-input" type="checkbox" name="@role.DataModel.Name"
                                       checked ="@role.IsAssigned" @oninput="(x) => RoleAssignmentChanged(x, role)">
                                <label class="form-check-label">
                                    @role.DataModel.Name
                                </label>
                                <br>
                            }
                            
                        </td>
                    </tr>
                </table>
            </EditForm>


        </section>
    </div>


    @if (ValidationMessage != null) {
        <div>
            <p>@ValidationMessage</p>
        </div>
    }
    else if (ApiException != null) {
        <div>
            <p>@ApiException</p>
        </div>
    }
    <p>
        @if (NewUserCreation) {
            <button type="submit" form="@SubmitBtnId" class="btn btn-primary">Vytvořit uživatele</button>
        }
        else {
            <button type="submit" form="@SubmitBtnId" class="btn btn-primary">Uložit změny</button>
            <button @onclick="DeleteUser" class="btn btn-primary">
                Odstranit uživatele
            </button>
        }
        <button type="button" class="btn btn-light"
                @onclick="@ReturnToUsers">
            Zrušit
        </button>
    </p>
}
@if (NewUserCreation) {
    <div class="modal @ModalClass" tabindex="-1" role="dialog" style="display: @ModalDisplay">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @if (WaitingForApiResponse) {
                    <div class="spinner"></div>
                }
                else {
                    <div class="modal-header">
                        <h5 class="modal-title">Nový uživatel</h5>
                        <button type="button" data-dismiss="modal" aria-label="Close" @onclick="OkPressed">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Pro nového uživatele @SelectedUser.Username bylo vygenerováno heslo: <b>@NewPwd</b></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="OkPressed">Ok</button>
                    </div>
                }

            </div>
        </div>
    </div>
}


@code {
    private bool IsAuthorized => UserUtils.IsUserAuthorized(LoggedUserContainer.Value, ERoleType.Secretariat);


    private const string SubmitBtnId = "submitButton";
    private string ModalClass { get; set; } = "";
    private string ModalDisplay { get; set; } = "none;";

    private EditContext? EditContext { get; set; }
    private string[] _selectedSuperiorsIds = {};


    public UserBase SelectedUser { get; set; } = new();
    public UserBase[] AllSuperiors { get; set; } = Array.Empty<UserBase>();
    public List<DataModelAssignment<Role>> RolesAssignments { get; set; } = new();

    public string? NewPwd { get; set; }

    private bool NewUserCreation { get; set; }
    private bool WaitingForApiResponse { get; set; } = true;

    private string? ValidationMessage { get; set; }
    private string? ApiException { get; set; }

    protected override async Task OnInitializedAsync() {
        ValidationMessage = null;
        ApiException = null;
        NewUserCreation = UserContainer.Value == null;
        if (NewUserCreation) {
            SelectedUser = new UserBase(default, "", "", "", "", true);
        }
        else {
            SelectedUser = UserContainer.Value!;
        }
        EditContext = new EditContext(SelectedUser);
        if (IsAuthorized) {
            await GetData();
        }
        NewPwd = null;
        WaitingForApiResponse = false;
        StateHasChanged();
    }


    private async Task GetData() {
        var userResult = await Http.SendApiGetRequestAsync<UserBase[]?>(Logger, "api/UserRoles/superiors");
        if (userResult.status != EApiHttpResponse.Ok) {
            ApiException = StringResolver.ResolveApiResponse(userResult.status);
        }
        else {
            if (userResult.response != null) {
                AllSuperiors = userResult.response;

            }
        }

        var roleResult = await Http.SendApiGetRequestAsync<List<DataModelAssignment<Role>>?>(Logger, $@"api/UserRoles/allUserAssigned/{SelectedUser.Id}"); ;
        if (roleResult.status != EApiHttpResponse.Ok) {
            ApiException = StringResolver.ResolveApiResponse(userResult.status);
        }else{
            if (roleResult.response != null) {
                RolesAssignments = roleResult.response;
            }
        }

        if (!NewUserCreation) {
            //get also all new user assigned superiors
            var userSupsResult = await Http.SendApiGetRequestAsync<long[]>(Logger, $"api/UserRoles/superiors/{SelectedUser.Id}");

            if (userSupsResult.status != EApiHttpResponse.Ok) {
                ApiException = StringResolver.ResolveApiResponse(userResult.status);
            }
            else {
                if (userSupsResult.response != null) {
                    var assignedSups = AllSuperiors.Where(x => userSupsResult.response.Contains(x.Id)).ToList();

                    _selectedSuperiorsIds = assignedSups.Select(x => x.Id.ToString()).ToArray();
                }
            }
        }
    }
    
    private void OnSelectedSuperiorsChange(ChangeEventArgs evt) {
        if (evt.Value is not string[]strings) {
            return;
        }
        _selectedSuperiorsIds = strings;
        AllSuperiors.Where(x => _selectedSuperiorsIds.Contains(x.Id.ToString())).Select(sup => sup.FullName);
    }

    private void RoleAssignmentChanged(ChangeEventArgs e, DataModelAssignment<Role> roleAssign) {
        // get the checkbox state
        if (e.Value is not bool check) {
            return;
        }
        roleAssign.IsAssigned = check;
    }

    private void HandleValidSubmit() {
        ValidationMessage = null;
        ApiException = null;


        var valResult = UserUtils.ValidateUser(SelectedUser);
        if (valResult != EUserCreationResponse.Ok) {
            ValidationMessage = StringResolver.ResolveUserValidation(valResult);
        }
        else{
            WaitingForApiResponse = true;
            var assigned = AllSuperiors.Where(x => _selectedSuperiorsIds.Contains(x.Id.ToString()));
            if (NewUserCreation) {
                NewPwd = UserUtils.CreateRandomPassword(10);
                User newUser = new(SelectedUser) {
                    Pwd = NewPwd!,
                    PwdInit = true,
                    Salt = "TBD"
                };

                //todo 
                UserUpdatePayload<User> payload = new(newUser, RolesAssignments, assigned.ToList());
                Http.SendApiPutRequestAsync(Logger, "api/Users", payload, ResolveResponse);
            }
            else {
                UserUpdatePayload<UserBase> payload = new(SelectedUser, RolesAssignments, assigned.ToList());
                Http.SendApiPatchRequestAsync(Logger, "api/Users/update", payload, ResolveResponse);
            }
        }
        StateHasChanged();
    }

    protected void HandleInvalidSubmit() {
        ValidationMessage = "Můžete vkládat pouze validní data!";
        StateHasChanged();
    }


    private void ReturnToUsers() {
        UriHelper.NavigateTo("users");
    }

    private async void DeleteUser() {
        var confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Doopravdy chcete odstranit tento úkol?");
        if (confirmed) {
            ValidationMessage = null;
            ApiException = null;
            WaitingForApiResponse = true;
            Http.SendApiDeleteRequestAsync(Logger, "api/Users/" + SelectedUser.Id, ResolveResponse);
            StateHasChanged();
        }
    }



    private void ResolveResponse(EApiHttpResponse apiResponse, bool changePage) {
        WaitingForApiResponse = false;
        if (apiResponse == EApiHttpResponse.Ok) {
            if (changePage) {
                UriHelper.NavigateTo("/users");
            }
            else {
                ModalDisplay = "block;";
                ModalClass = "Show";
            }
        }
        else {
            ApiException = StringResolver.ResolveApiResponse(apiResponse);
        }
        StateHasChanged();
    }


    public void OkPressed() {
        ModalDisplay = "none";
        ModalClass = "";
        WaitingForApiResponse = false;
        ValidationMessage = null;
        ApiException = null;
        UriHelper.NavigateTo("/users");
    }

    protected override void OnInitialized() {
        UserContainer.OnStateChange += StateHasChanged;
    }

    public void Dispose() {
        UserContainer.OnStateChange -= StateHasChanged;
    }

}